<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
  <!-- 数据源 -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" scope="singleton">
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <property name="url" value="${jdbc.url}" />
    <property name="driverClassName" value="${jdbc.driver}" />
    <property name="maxWait" value="80000" />
    <property name="maxActive" value="20" />
    <property name="maxIdle" value="10" />
    <property name="timeBetweenEvictionRunsMillis" value="900000" />
    <property name="minEvictableIdleTimeMillis" value="1200000" />
  </bean>
  <!-- 配置 Hibernate SessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="packagesToScan">
      <list>
        <value>com.ads.entity</value>
      </list>
    </property>
    <!-- hibernate的相关属性配置 -->
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.show_sql">false</prop>
        <prop key="hibernate.format_sql">false</prop><!-- 格式化SQL，显示优化 -->
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop><!-- 设置数据库方言 -->
        <prop key="hibernate.connection.autocommit">true</prop>
        <prop key="hibernate.connection.url">${jdbc.url}</prop>
        <prop key="hibernate.connection.driver_class">${jdbc.driver}</prop>
      </props>
    </property>
  </bean>
  
  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <!-- 定义事务管理器 -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" scope="singleton">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
  
  <!-- 激活@Controller注解模式 -->
  <mvc:annotation-driven />
  
  <!--配置注解扫描器-->
  <context:component-scan base-package="com.ads.common"/>
  <context:component-scan base-package="com.ads.datatask"/>
  <context:component-scan base-package="com.ads.controller, com.ads.service"/>
  
  <!--spring提供的基于Ehcache实现的缓存管理器-->
  <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    <property name="configLocation" value="classpath:ehcache-setting.xml"/>
  </bean>
  <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    <property name="cacheManager" ref="cacheManagerFactory"/>
  </bean>
  
  <!--加载资源文件-->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <!--配置资源文件-->
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
      </list>
    </property>
  </bean>
  
  <!--httpclient配置文件-->
  <import resource="spring-httpclient.xml"/>
  <!--quartz配置文件-->
  <import resource="spring-quartz.xml"/>
  <!--Redis配置文件-->
  <import resource="spring-jedis.xml"/>
</beans>