<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!--
  &lt;!&ndash;新浪外汇采集&ndash;&gt;
  <bean name="sinaForexTaskJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    <property name="jobClass" value="com.ads.datatask.task.SinaForexTask" />
    <property name="jobDataAsMap">
      <map>
        <entry key="timeout" value="36000" />
      </map>
    </property>
  </bean>
  &lt;!&ndash;新浪外汇 trigger 触发器&ndash;&gt;
  <bean id="sinaForexTaskTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    <property name="jobDetail" ref="sinaForexTaskJob"/>
    <property name="startDelay" value="3000"/>
    <property name="repeatInterval" value="3000"/>&lt;!&ndash;3秒调度一次&ndash;&gt;
  </bean>-->
  
  <!--bikan btc采集-->
  <bean name="bikanTaskJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    <property name="jobClass" value="com.ads.datatask.task.BikanBtcTask" />
    <property name="jobDataAsMap">
      <map>
        <entry key="timeout" value="36000" />
      </map>
    </property>
  </bean>
  <!--bikan btc trigger 触发器-->
  <bean id="bikanTaskTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    <property name="jobDetail" ref="bikanTaskJob"/>
    <property name="startDelay" value="3000"/>
    <property name="repeatInterval" value="3000"/><!--3秒调度一次-->
  </bean>
  
  <!--启动任务-->
  <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    
    <property name="triggers">
      <list>
        <!--<ref bean="whtDataScanTaskTrigger"></ref>-->
        <!--<ref bean="sinaForexTaskTrigger"></ref>-->
        <ref bean="bikanTaskTrigger"></ref>
      </list>
    </property>
    <property name="jobFactory" ref="quartzJobFactory"/>
  </bean>
</beans>
